<div name="contact" class="contact">
    <section class="contact-text">
        <section>
            <h1>GET IN TOUCH</h1>
            <h2>WE CHERISH ALL INTERACTIONS</h2>
        </section>
        <section>
            <i style="font-size:40px;" class="bi bi-envelope"></i>
            <i style="font-size:40px;" class="bi bi-telephone"></i>
        </section>
    </section>
    <section>       
            <h2 style="text-align: center; color: white;">CONTACT</h2>
        <a href="mailto: barracksofficialwebsite@gmail.com">barracksofficialwebsite@gmail.com</a>
        <div>
        </div>
        <form class="contact-form" name="contact-form" id="contact-form">
            <input class="input" type="text" placeholder="Name" id="name">
            <input class="input" type="email" placeholder="Email" id="email">
            <input class="input" type="text" placeholder="Subject" id="subject">
            <textarea class="input" rows="3" cols="23" placeholder="Type your message here.." id="textArea"></textarea>
            <br>
            <button type="submit">SUBMIT</button>
        </form>
    </section>
</div>