<footer>
    <div class="container align">
        <div class="container">
            <label for="email" class="form-label">Subscribe Form</label>
            <input type="email" id="email" name="email" class="form-control mb-2" placeholder="Email Address">
            <button class="btn btn-outline-light" type="submit">Submit</button>
        </div>
        <div class="container align d-flex">
            <a class="nav-link" href="{{url.facebook}}" target="_blank">
                <fa-icon [icon]="['fab','facebook']" size="lg"></fa-icon>
            </a>
            <a class="nav-link" href="{{url.instagram}}" target="_blank">
                <fa-icon [icon]="['fab','instagram']" size="lg"></fa-icon>
            </a>
        </div>
        <fa-icon [icon]="['far','copyright']"></fa-icon> 2021 by Barracks
    </div>
    <div>
        <app-contact></app-contact>
    </div>
</footer>
